.DS_Store
transcripts_dataset_v1.csv.gz
transcripts_dataset.csv.gz
transcripts_dataset_v2.csv.gz
transcripts_dataset_final.csv.gz
transcripts_dataset_final.csv
transcripts_sample.csv.gz
transcripts_sample_old.csv.gz
metadata.tsv
metadata.tar.gz
metadata.csv.gz
metadata_features.csv.gz
transcripts_sample.csv.gz
BERT_v1
BERT_v2
sentences_chunkssize_25.csv.gz
sentences_chunkssize_40.csv.gz
