.DS_Store
transcripts_dataset.csv.gz
transcripts_dataset_final.csv.gz
transcript_sample_mini.csv.gz
metadata.tsv
metadata.csv.gz
transcripts_sample.csv.gz
transcript_sample_mini.csv.gz
BERT_v1
BERT_v2
BERT_mini
BERT_v2.1
sentences_chunkssize_25.csv.gz
sentences_chunkssize_40.csv.gz
embeddings
embeddings_mini
sentences_chunkssize_1.csv.gz
word_transcript_256.csv.gz
sent_transcript_1.csv.gz
embeddings_256.npy
embeddings_mini.npy
education_transcripts.csv.gz
sports_transcripts.csv.gz
sports_word_256.csv.gz
sport_sent_1.csv.gz
sports_embeddings_256.npy
sports_embeddings_sentence_1.npy
pipeline_BERT
prediction_data.csv
probabilities_test.npy
tsne_data.pkl
hdbscan_model.pkl
new_testing_proba.npy
tsne_dimred_embeddings.npy
api_key.txt
probabilities.npy
sentence_tsne_dimred_embeddings.npy
sentence100_tsne_dimred_embeddings.npy
sentence100_tsne_data_.pkl
sentence_tsne_data_.pkl
sent_hdbscan_model.pkl
sentence_hdbscan_model.pkl
annotated_transcripts
first_podcast.csv.gz